<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="assets/images/logo2.png" alt="WebRadio" /> 
            <span>WebRadio</span>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/grabaciones">
                        <i class="fas fa-file-audio"></i>Grabaciones</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-map-marker-alt"></i>Maps (próximamente)</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->