<div *ngFor="let mount of mounts">
    <h2 class="title-1 m-b-25">Oyentes ahora (IP, Seg) {{mount.mount}}</h2>
    <p *ngIf="mount.listeners && mount.listeners.length == 0">No hay nadie escuchando esta radio</p>
    <div class="table-responsive table--no-card m-b-40"
    *ngIf="mounts && mounts.length > 0">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>connected time</th>
                    <th>location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let listener of mount.listeners">
    				<td>{{listener.ip}}</td>
                    <td>{{listener.connected}}</td>
    				<td>{{listener.location.city}}, {{listener.location.region}}, {{listener.location.country}}</td>
    			</tr>
            </tbody>
        </table>
    </div>
    <div class="row">
    <div class="col-lg-12">
            <div style="width: 100%; height: 600px;" #mapElement></div>
        </div>
    </div>  
</div>