<div class="card">
    <div class="card-header">
        <strong>Notificar</strong> a todos
    </div>
    <div class="card-body card-block">
        <form method="post">
            <div class="form-group">
                <label for="title" class="control-label mb-1">Título</label>
                <textarea name="title" placeholder="Ingrese un título" (input)="titleMessage = $event.target.value" rows="1" cols="50" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="comment" class="control-label mb-1">Comentario</label>
                <textarea name="comment" placeholder="Ingrese un comentario" (input)="textMessage = $event.target.value" rows="4" cols="100" class="form-control"></textarea>
            </div>
        </form>
        <div>
            <button id="enviarMensaje" type="button" class="btn btn-lg btn-info btn-block" (click)="send()">
                <i class="fa fa-send fa-lg"></i>&nbsp;
                <span id="payment-button-amount">Enviar la notificación</span>
                <span id="payment-button-sending" style="display:none;">Enviando…</span>
            </button>
        </div>
    </div>
</div>